.thing {
    background: white;
}

h2 {
    color: black;
}

row {
    padding: 0 1.5em 0 1.5em;
}

.container-top {
    padding: 0 1.5em 0 1.5em;
}


.dot-hint {
    margin: 0 .2em 0 .2em;
    width: 15px;
    height: 15px;
    padding: 3px 0px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
    background-color: #29a329;
}

body {
  color: black;
}

.h1 {
    color: red !important;
    background: red !important;
}

.col-sm {
    border: green;
}

.email-ind {
    background:  #e6e6e6;
    padding: .5em 1.5em .5em 1.5em;
    border: 1px solid #595959;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.email-ind-dimmed {
    opacity: 0.33;
    background:  #e6e6e6;
    padding: .5em 1.5em .5em 1.5em;
    border: 1px solid #595959;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.col-sm {
    padding: .5em .5em .5em .5em;
}

.email-info {
    border-bottom: 1px solid black;
    padding: .5em 0 .5em 0;
    border-right: 2px solid #e6e6e6;
    border-left: 2px solid #e6e6e6;
}

.dot-red {
    height: 15px;
    width: 15px;
    background-color: #0040ff;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid white;
} /* old red color:background-color: #e60000;*/

.dot-yellow {
    height: 15px;
    width: 15px;
    background-color: #4d79ff;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid white;
} /* old yellow: background-color: #ffe066;*/

.dot-green {
    height: 15px;
    width: 15px;
    background-color: #99b3ff;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid white;
} /* old green: background-color: #29a329 */

.dot-hint {
    height: 25px;
    width: 25px;
    background-color: #29a329;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #595959;
}

.email-verytop {
    background: #595959;
    padding: .5em .1em .1em .5em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
} /*    background: #595959; */


.email-ind-list {
    background: lightgray;
    padding: .5em 1.5em .5em 1.5em;
    border: 1px solid #595959;
    border-radius: 5px;
    margin-bottom: 3.5em;
}

 /* Makes content of emails unselectable so no one copy/pastes */
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

 /* Popover */
 .popover {
  text-align: center;
  border: 3px solid  #66cc99;
}

.popover-header {
    background:  #66cc99;  /* Close to color of hints button. */
    color: white;
    font-size: 15px;
}
.popover-content {
    background: #9DC88D;
    color: red;
    font-size: 10px;
}


#highlight-hint {
    border: .25em solid #66cc99;
    border-radius: 50%
}

#highlight-hint2 {
    border: 3px solid  #b30000;
}

#highlight-hint3 {
  border-radius: 25px;
  border: .25em solid yellow;
  border-radius: 30%

}

.highlight-hint-class {
    border: .25em solid #66cc99;
    border-radius: 50%
}


