h2 {
    color: black;
}

row {
    padding: 0 1.5em 0 1.5em;
}

.container-top {
    padding: 0 1.5em 0 1.5em;
}

body {
  color: black;
}

.h1 {
    color: red !important;
    background: red !important;
}

.col-sm {
    border: green;
}

.email-ind {
    background: lightgray;
    padding: .5em 1.5em .5em 1.5em;
    border: 1px solid #595959;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.container-emails {

}

.col-sm {
    padding: .5em .5em .5em .5em;
}

.email-info {
    border-bottom: 1px solid black;
    padding: .5em 0 .5em 0;
}

.dot-red {
  height: 15px;
  width: 15px;
  background-color: #e60000;
  border-radius: 50%;
  display: inline-block;
}

.dot-yellow {
  height: 15px;
  width: 15px;
  background-color: #ffe066;
  border-radius: 50%;
  display: inline-block;
}

.dot-green {
  height: 15px;
  width: 15px;
  background-color: #29a329;
  border-radius: 50%;
  display: inline-block;
}

.email-verytop {
    background: #595959;
    padding: .5em .1em .1em .5em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


.email-ind-list {
    background: lightgray;
    padding: .5em 1.5em .5em 1.5em;
    border: 1px solid #595959;
    border-radius: 5px;
    margin-bottom: 3.5em;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

 /* Popover */
 .popover {
  text-align: center;
  border: 3px solid #00802b; /* Close to color of hints button. */
  border-radius: 4%;
}
.popover-header {
    background: #00802b;  /* Close to color of hints button. */
    color: white;
    font-size: 15px;
}
.popover-content {
    background: #9DC88D;
    color: red;
    font-size: 10px;
}

#first-hint {
    border: 2px solid red;
}
