{% extends 'base.html' %}
{% block title %}
    Blog Posts
{% endblock %}
{%  block content %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <h1>Posts</h1>
    </br>
    {% for post in object_list %}
        <div class="email-ind-list">
            </br>
            </br>
            <p>Date: {{ post.date }}</p>
            <p>Scam Type: {{ post.scamType }}</p>
            <p>{{ post.description }}</p>
            <p>{{ post.title }}</p>
            </br>
            <p class="email-info">From: {{ post.sender }}</p>
            <p class="email-info">To: {{ post.receiver }}</p>
            <p class="email-info">Subject: {{ post.subject }}</p>
            <p>{{ post.body }}</p>
            </br>
            </br>
        </div>
</html>
{% endfor %}

{%  endblock %}
